{{#commits}}
<a href="{{{repo_url}}}">{{repo_name}}</a> • <a href="https://github.com/{{actor}}">{{actor}}</a> • <a href="{{commit_url}}">{{commit_sha}}</a>
{{commit_message}}

{{/commits}}

{{status}}