{{#data}}

🆕 New Pull Request <code>#{{pull_req_number}}</code> 

Action: <code>{{action.toUpperCase()}}</code>

Commit: <b>{{title}}</b>

Pull request from <code>{{req_from}}</code> to <code>{{req_to}}</code>

User: <a href="https://github.com/{{repo_name}}">{{repo_name}}</a>

{{/data}}