{{#data}}

🆕 New Pull Request #{{pull_req_number}}

Title: <a href="{{{pull_req_url}}}">{{title}}</a>

Pull request from <code>{{req_from}}</code> to <code>{{req_to}}</code>

User: <a href="https://github.com/{{repo_name}}">{{repo_name}}</a>

{{/data}}