{{#data}}

🆕 New Pull Request
Title: <a href="{{{pull_req_url}}}"><b>{{title}}</b></a>
Pull request from <b>{{req_from}}</b> to <code>{{req_to}}</code>
User: <a href="https://github.com/{{repo_name}}">{{repo_name}}</a>

{{/data}}